<h1>Random Results</h1>


<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @min %>
  </dd>
    <dt>
    Maximum
  </dt>
  <dd>
     <%= @max %>
  </dd>

  <dt>
    Your Random number is
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>

<a href="random/new">
  Get another random number
</a>
