<h1>Random Number Result</h1>

<%= params %>
<dl>
  <dt>
    Range
  </dt>
  <dd>
    <%= @min, @max %>
  </dd>

  <dt>
    Your Random number is
  </dt>
  <dd>
    <%= @result %>
  </dd>
<dl>

<a href="random/new">
  Get another random number
</a>
