<h1>Square Root Result</h1>

<%= params %>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @user_number %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @result %>
  </dd>
<dl>

<a href="square_root/new">
  Calculate another square root
</a>
